/* * {
    outline: 1px solid red;
} */

:root {
    --primary-color: #6610f2;
    --secondary-color: #FB876E;
    --person-name-color: #198754;

    --footer-color1: #8E63FE;
    --footer-color2: #5620EB;
    --footer-color3: #3E00E3;

    --base-color: #fff;

    --pic-border-color: rgba(165, 139, 139, 0.483);

    --less-dark-color: rgb(103, 103, 103);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link:hover {
    opacity: 0.8;
}

#brand-name {
    color: var(--primary-color);
}

#brand-name:hover {
    opacity: 0.8;
}

.heading {
    color: var(--primary-color);
}

.highlight {
    color: var(--secondary-color);
}

#btn-primary {
    color: var(--base-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    transition: opacity 0.2s ease-in;
}

#btn-primary:hover {
    opacity: .8;
}

#btn-secondary {
    color: var(--primary-color);
    background-color: transparent;
    border-color: var(--primary-color);
    transition: all 0.2s ease-in;
}

.feature-info {
    margin-top: 70px;
}

#testimonial-container {
    width: 100%;
}

.carousel-item {
    min-height: 350px;
    position: relative;
}

.carousal-img img {
    position: relative;
    left: 50%;
    top: 90px;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border: 1.5px solid var(--pic-border-color);
    border-radius: 200px;
    padding: 7px;
}

.pagination-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.pagination-button img {
    width: 50px;
}

.carousal-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#indicator-icons button {
    background-color: var(--less-dark-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-inline: 8px;
}

.submit-btn {
    width: fit-content;
}

#bottom-footer {
    height: fit-content;
}

.bg-gradient {
    background: linear-gradient(135deg, var(--footer-color1), var(--footer-color2), var(--footer-color3)) !important;
}

/* ------ adding simple animations to some elements ---------  */

@keyframes entry-view {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.show {
    animation: entry-view 0.5s linear forwards;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/* -------- responsive codes ---------- */

@media screen and (max-width: 430px) {
    .feature-info {
        margin-top: 50px;
    }

    .carousel-item {
        min-height: 500px;
    }

    .carousal-img img {
        position: absolute;
        left: 50%;
        top: 25%;
    }

    .pagination-button img {
        width: 30px;
    }
}